In [1]:
import pandas as pd
from allensdk.core.brain_observatory_cache import BrainObservatoryCache
import allensdk.brain_observatory.stimulus_info as stim_info
import pprint

boc = BrainObservatoryCache(manifest_file='boc/manifest.json')

# Download a list of all targeted areas
targeted_structures = boc.get_all_targeted_structures()
print("all targeted structures: " + str(targeted_structures)+ "\n")
# Download experiment containers for VISp experiments: (targeted_structures=['VISp'])

# Download a list of all imaging depths
depths = boc.get_all_imaging_depths()
print("all imaging depths: " + str(depths) + "\n")

# Download a list of all cre driver lines 
cre_lines = boc.get_all_cre_lines()
print("all cre lines:\n" + str(cre_lines) )

all targeted structures: ['VISal', 'VISam', 'VISl', 'VISp', 'VISpm', 'VISrl']

all imaging depths: [175, 185, 195, 200, 205, 225, 250, 265, 275, 276, 285, 300, 320, 325, 335, 350, 365, 375, 390, 400, 550, 570, 625]

all cre lines:
['Cux2-CreERT2', 'Emx1-IRES-Cre', 'Fezf2-CreER', 'Nr5a1-Cre', 'Ntsr1-Cre_GN220', 'Pvalb-IRES-Cre', 'Rbp4-Cre_KL100', 'Rorb-IRES2-Cre', 'Scnn1a-Tg3-Cre', 'Slc17a7-IRES2-Cre', 'Sst-IRES-Cre', 'Tlx3-Cre_PL56', 'Vip-IRES-Cre']

## VISal

In [2]:
depths = []
for exp in boc.get_experiment_containers(targeted_structures = ['VISal']):
    depths.append(exp['imaging_depth'])
depths = set(depths)
depths

{175, 265, 275, 276, 300, 350, 365, 375}

In [3]:
cre_lines = []
for exp in boc.get_experiment_containers(targeted_structures = ['VISal']):
    cre_lines.append(exp['cre_line'])
cre_lines = set(cre_lines)
cre_lines

{'Cux2-CreERT2',
 'Emx1-IRES-Cre',
 'Nr5a1-Cre',
 'Rbp4-Cre_KL100',
 'Rorb-IRES2-Cre',
 'Slc17a7-IRES2-Cre',
 'Sst-IRES-Cre'}

In [ ]:
experiment_containers_df = pd.DataFrame(columns = ['id', 'imaging_depth', 'targeted_structure',
                                 'cre_line','reporter_line','donor_name',
                                 'specimen_name','tags','failed'])

In [ ]:
experiment_df = pd.DataFrame(columns = ['id', 'imaging_depth', 'targeted_structure',
                                        'cre_line', 'reporter_line', 'acquisition_age_days',
                                        'experiment_container_id', 'session_type', 'donor_name',
                                        'specimen_name', 'fail_eye_tracking'])

In [ ]:
traces_df_dict = {"experiment_id" : [], "traces" : [], "stim_table" : []}

In [ ]:
errors_id = []

In [ ]:
for dep in depths:
    for cre in cre_lines:
        experiment_containers = boc.get_experiment_containers(targeted_structures = ['VISal'],
                                                         imaging_depths = [dep], 
                                                         cre_lines = [cre])

        if len(experiment_containers) > 0 :
            trunc = min(2, len(experiment_containers))
            experiment_containers_df2 = pd.DataFrame(experiment_containers[0:trunc], 
                                                 columns =['id', 'imaging_depth', 'targeted_structure',
                                                           'cre_line','reporter_line','donor_name',
                                                           'specimen_name','tags','failed'])
            experiment_containers_df = experiment_containers_df.append(experiment_containers_df2)

            for exp_cont in range(0,trunc):
                experiment_container_id = experiment_containers[exp_cont]['id']
                exp = boc.get_ophys_experiments(experiment_container_ids=[experiment_container_id])

                experiment_df2 = pd.DataFrame(exp,
                                              columns = ['id', 'imaging_depth', 'targeted_structure',
                                            'cre_line', 'reporter_line', 'acquisition_age_days',
                                            'experiment_container_id', 'session_type', 'donor_name',
                                            'specimen_name', 'fail_eye_tracking'])
                experiment_df = experiment_df.append(experiment_df2)

                 each experiment has a different session
                for stim in range(0, len(exp)):   
                    experiment_id = exp[stim]['id']
                    session = exp[stim]['session_type']

                    traces_df_dict["experiment_id"].append(experiment_id)
                    try:
                        experiment = boc.get_ophys_experiment_data(experiment_id) 
                        experiment_cells_id = experiment.get_cell_specimen_ids()
                        n_cells = min(50, len(experiment_cells_id))

                        traces_df = pd.DataFrame(experiment.get_dff_traces()[1][0:n_cells],
                                                columns = experiment.get_dff_traces()[0],
                                                index = experiment_cells_id[0:n_cells] )
                        traces_df_dict["traces"].append(traces_df)
                    except:
                         errors_id.append(experiment_container_id)               
            print("experiment container n " + str(exp_cont) + "\n")
        print("cre line:  " + str(cre) + "\n")
    print("depth: " + str(dep) + "\n")

In [ ]:
errors_id

In [ ]:
experiment_df = experiment_df.loc[~experiment_df['id'].isin(errors_id)]

In [ ]:
experiment_containers_df.to_csv('VISal_experiment_containers_df.txt', 
                                index=None, sep=' ', mode='a')

In [ ]:
experiment_df.to_csv('VISal_experiment_df.txt', 
                      index=None, sep=' ', mode='a')

In [ ]:
for i in range(len(traces_df_dict["traces"])):
    trace_df_name = str(traces_df_dict["experiment_id"][i]) + '.txt'
    traces_df_dict["traces"][i].to_csv(trace_df_name, 
                                index=None, sep=' ', mode='a')

In [ ]:
### fine codice su tutto

In [4]:
experiment_containers = boc.get_experiment_containers(targeted_structures = ['VISal'],
                        imaging_depths = [175], 
                        cre_lines = ['Cux2-CreERT2'])

experiment_container_id = experiment_containers[0]['id']
exp = boc.get_ophys_experiments(experiment_container_ids=[experiment_container_id])
exp

[{'id': 501839084,
  'imaging_depth': 175,
  'targeted_structure': 'VISal',
  'cre_line': 'Cux2-CreERT2',
  'reporter_line': 'Ai93(TITL-GCaMP6f)',
  'acquisition_age_days': 108,
  'experiment_container_id': 511510715,
  'session_type': 'three_session_C',
  'donor_name': '222426',
  'specimen_name': 'Cux2-CreERT2;Camk2a-tTA;Ai93-222426',
  'fail_eye_tracking': True},
 {'id': 501876401,
  'imaging_depth': 175,
  'targeted_structure': 'VISal',
  'cre_line': 'Cux2-CreERT2',
  'reporter_line': 'Ai93(TITL-GCaMP6f)',
  'acquisition_age_days': 109,
  'experiment_container_id': 511510715,
  'session_type': 'three_session_A',
  'donor_name': '222426',
  'specimen_name': 'Cux2-CreERT2;Camk2a-tTA;Ai93-222426',
  'fail_eye_tracking': True},
 {'id': 501929146,
  'imaging_depth': 175,
  'targeted_structure': 'VISal',
  'cre_line': 'Cux2-CreERT2',
  'reporter_line': 'Ai93(TITL-GCaMP6f)',
  'acquisition_age_days': 110,
  'experiment_container_id': 511510715,
  'session_type': 'three_session_B',
  'donor_name': '222426',
  'specimen_name': 'Cux2-CreERT2;Camk2a-tTA;Ai93-222426',
  'fail_eye_tracking': True}]

In [5]:
experiment_id = exp[0]['id']
session = exp[0]['session_type']
print(session)

experiment = boc.get_ophys_experiment_data(experiment_id)

three_session_C

In [ ]:
#experiment_cells_id = experiment.get_cell_specimen_ids()
#n_cells = min(3, len(experiment_cells_id))

In [ ]:
#traces_df = pd.DataFrame(experiment.get_dff_traces()[1][0:n_cells],
#                         columns = experiment.get_dff_traces()[0],
#                         index = experiment_cells_id[0:n_cells] )
#traces_df

In [22]:
stim_add = pd.Series(list('n'*len(experiment.get_dff_traces()[0])),
                    index = experiment.get_dff_traces()[0])
stim_list = experiment.list_stimuli()
for s in range(len(stim_list)):
    stim_table = experiment.get_stimulus_table(stim_list[s])
    for i in range(stim_table.shape[0]):
        stim_add.iloc[stim_table.at[i,'start']:(stim_table.at[i,'end']+1)] = stim_list[s]

      frame   start     end
0         0     745     752
1         1     753     760
2         2     760     767
3         3     768     775
4         4     775     782
...     ...     ...     ...
8875   8875  105490  105497
8876   8876  105497  105504
8877   8877  105505  105512
8878   8878  105512  105519
8879   8879  105520  105527

[8880 rows x 3 columns]
      frame  start    end  repeat
0         0  31453  31453       0
1         1  31454  31455       0
2         2  31455  31456       0
3         3  31456  31457       0
4         4  31457  31458       0
...     ...    ...    ...     ...
8995    895  40480  40481       9
8996    896  40481  40482       9
8997    897  40482  40483       9
8998    898  40483  40484       9
8999    899  40484  40485       9

[9000 rows x 4 columns]
      frame  start    end  repeat
0         0  63966  63967       0
1         1  63967  63968       0
2         2  63968  63969       0
3         3  63969  63970       0
4         4  63970  63971       0
...     ...    ...    ...     ...
8995    895  72991  72992       9
8996    896  72992  72993       9
8997    897  72993  72994       9
8998    898  72994  72995       9
8999    899  72995  72996       9

[9000 rows x 4 columns]
   start    end
0  22572  31452
1  73146  82027

In [24]:
stim_dict = {'stimulus':[stim_add.iloc[0]], 
             'start':[0], 
             'end':[],
             'time_start':[stim_add.index[0]], 
             'time_end':[] }

In [35]:
ind = 0
for i in range(len(stim_add)-1):
    if (stim_add.iloc[i+1]!=stim_add.iloc[i]):
        stim_dict['end'].append(i)
        stim_dict['time_end'].append(stim_add.index[i])
        stim_dict['start'].append(i+1)
        stim_dict['time_start'].append(stim_add.index[i+1])
        stim_dict['stimulus'].append(stim_add.iloc[i+1])
        ind = ind+1
stim_dict['end'].append(i+1)
stim_dict['time_end'].append(stim_add.index[i+1])

In [36]:
pd.DataFrame(stim_dict)

                stimulus   start     end  time_start    time_end
0                      n       0     744     5.39947    30.13514
1   locally_sparse_noise     745   22422    30.16839   750.87419
2                      n   22423   22571   750.90743   755.82812
3            spontaneous   22572   31452   755.86137  1051.10409
4      natural_movie_one   31453   38611  1051.13734  1289.12890
5                      n   38612   38612  1289.16215  1289.16215
6      natural_movie_one   38613   40485  1289.19540  1351.43656
7                      n   40486   41387  1351.46981  1381.42674
8   locally_sparse_noise   41388   63063  1381.45999  2102.12993
9                      n   63064   63965  2102.16318  2132.12077
10     natural_movie_two   63966   72996  2132.15402  2432.39636
11                     n   72997   73145  2432.42961  2437.35055
12           spontaneous   73146   82027  2437.38380  2732.67455
13  locally_sparse_noise   82028  105527  2732.70780  3514.05440
14                     n  105528     744  3514.08765    30.13514
15  locally_sparse_noise     745   22422    30.16839   750.87419
16                     n   22423   22571   750.90743   755.82812
17           spontaneous   22572   31452   755.86137  1051.10409
18     natural_movie_one   31453   38611  1051.13734  1289.12890
19                     n   38612   38612  1289.16215  1289.16215
20     natural_movie_one   38613   40485  1289.19540  1351.43656
21                     n   40486   41387  1351.46981  1381.42674
22  locally_sparse_noise   41388   63063  1381.45999  2102.12993
23                     n   63064   63965  2102.16318  2132.12077
24     natural_movie_two   63966   72996  2132.15402  2432.39636
25                     n   72997   73145  2432.42961  2437.35055
26           spontaneous   73146   82027  2437.38380  2732.67455
27  locally_sparse_noise   82028  105527  2732.70780  3514.05440
28                     n  105528  105752  3514.08765  3521.53577

In [ ]:
ind